.App {
  text-align: center;
}

.alert-header {
  display: flex;
  color: white;
  background-color: black;
}

.currency {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header {
  display: flex;
  height: 15vh;
  border: 2px solid saddlebrown;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.7);
}

.links {
  display: flex;
  flex-direction: row;
}

.link {
  display: flex;
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin: auto 10px;
  font-size: 15px;
}

.search {
  display: flex;
  align-items: center;
}

.products {
  width: 90%;
  /* border: 2px solid salmon; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* margin: auto 5%; */
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.product {
  max-width: 30%;
  border: 1px solid black;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  min-width: 300px;
  height: 250px;
  margin: 10px;
}

.side-buttons {
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-decoration: none;
  color: black;
  position: fixed;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.desktop {
  display: flex;
}

@media (max-width: 500px) {
  .header {
    height: 8vh;
  }
  .desktop {
    display: none;
  }
}
